{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {# this is the content displayed as a panel in the toolbar #}
        {{ include('@FahrenholzPdoDatabase/icon.svg') }}
        <span class="sf-toolbar-status">{{ collector.queries | length }}</span>
    {% endset %}

    {% set text %}
        {# this is the content displayed when hovering the mouse over
           the toolbar panel #}
        <div class="sf-toolbar-info-piece">
            <b>Queries</b>
            <span>{{ collector.queries | length }}</span>
        </div>

        <div class="sf-toolbar-info-piece">
            <b>Total execution time</b>
            <span>{{ (collector.totalExecutionTime * 100) | round(2) }} ms</span>
        </div>
    {% endset %}

    {# the 'link' value set to 'false' means that this panel doesn't
       show a section in the web profiler #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true }) }}
{% endblock %}

{%  block menu %}
    <span class="label">
        <span class="icon">{{ include('@FahrenholzPdoDatabase/icon.svg') }}</span>
        <strong>Queries</strong>
        <span class="count">{{ collector.queries | length }}</span>
    </span>
{% endblock %}

{%  block panel %}
    <h2>Queries</h2>
    {% for query in collector.queries %}
        <table>
            <tr>
                <th>SQL</th>
                <td>{{ query.sql }}</td>
            </tr>
            <tr>
                <th>Function</th>
                <td>{{ query.function }}</td>
            </tr>
            <tr>
                <th>Execution time</th>
                <td>{{ (query.executionTime * 100) | round(2) }} ms</td>
            </tr>
        </table>
    {% endfor %}
{% endblock %}
